uwsgi
flask
flask-sqlalchemy
nplusone
sqlalchemy-utils
babel
flask-script
flask-migrate
psycopg2
celery
redis
hiredis
flask-socketio
gevent
flask-uuid
flask-jwt-extended
flask-restplus
flask-and-redis
flask-marshmallow
flask-cors
marshmallow-sqlalchemy
webargs
apispec==0.37.0
bcrypt
permission
cryptography
msgpack
requests
